.listwrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2%;
    .goalwrapper {
        width: 200px;
        height: 200px;
        border: 1px solid black;
        position: relative;
        h2 {
            margin: 0;
            position: absolute;
            text-align: center;
        }
        div {

            svg {
                width: 180px;
                height: 180px;
                padding: 5%;
            }
        }
    }
}
